/* здесь используйте глобальные переменные */
$base-color-text: #444444;

$basic-bg-main: #68b738;
$basic-bg-text: #ffffff;

$basic-bg-second: #f2f2f2;

$main-text: #000000;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
