.addition-product__title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.addition-product__quantity {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.addition-product__price {
  font-size: 16px;
  line-height: 20px;
}

.addition-product__button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
