.addition-product {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 37px 29px 38px;
  }

  @media (min-width: 1300px) {
    padding: 15px 0 17px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

.addition-product__title {
  font-family: "Oswald", sans-serif;
  color: #222222;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 11px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    margin-bottom: 25px;
  }

  @media (min-width: 1300px) {
    margin: 0;
    padding: 0;
    max-width: 300px;
  }
}

.addition-product__button {
  font-size: 16px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 9px;

  @media (min-width: 768px) {
    width: 100%;
    padding: 0;
  }

  @media (min-width: 1300px) {
    width: 245px;
    margin-left: 31px;
  }
}

.addition-product__block {
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  margin-bottom: 12px;
  border-spacing: 0;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
    width: 40%;
    margin-top: 2px;
  }

  @media (min-width: 1300px) {
    width: 293px;
    padding: 0;
    margin: 0 0 0 auto;
  }
}

.addition-product__quantity {
  text-align: left;
  padding: 2px 0;

  @media (min-width: 768px) {
    text-align: right;
  }

  @media (min-width: 1300px) {
    padding: 8px 0 0;
    width: 240px;
  }
}

.addition-product__price {
  text-align: right;
  padding: 2px 0;

  @media (min-width: 768px) {
    width: 95px;
  }

  @media (min-width: 1300px) {
    width: 100px;
    padding-top: 8px;
    text-align: left;
    padding-left: 100px;
  }
}
