.contacts {
  position: relative;

  @media (min-width: 1300px) {
    height: 400px;
  }
}

.contacts__wrapper {
  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: 1300px) {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 95px;
  }
}

.contacts__wrapper-bg {
  background-color: #f2f2f2;
}

.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #111111;
  text-transform: uppercase;
}

.contacts__address {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 20px 25px;

  @media (min-width: 768px) {
    padding: 63px 41px 59px;
  }

  @media (min-width: 1300px) {
    z-index: 1;
    position: relative;
    width: 450px;
    margin-left: 0;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #ffffff;
  }
}

.contacts__address-title {
  width: 155px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: $main-text;
  margin: 0;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: 768px) {
    width: 160px;
    font-size: 20px;
    line-height: 25px;
  }
}

.contacts__address-text {
  width: 155px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    width: 170px;
    text-align: right;
  }

  @media (min-width: 1300px) {
    text-align: left;
  }
}

.contacts__address-text span {
  @media (min-width: 768px) {
    margin-top: 19px;
    display: block;
  }
}

.contacts__map {
  height: 360px;
  width: 100%;

  @media (min-width: 768px) {
    height: 396px;
  }

  @media (min-width: 1300px) {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 400px;
    width: 100%;
    height: 400px;
    background-position: center;
  }
}

.contacts__map-image {
  object-fit: cover;
  width: 100%;
}
