.main-nav {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #ffffff;
  z-index: 99;

  @media (min-width: 768px) {
    position: inherit;
    display: block;
    width: auto;
    padding-top: 42px;
  }

  @media (min-width: 1300px) {
    padding-top: 30px;
    background-color: transparent;
  }
}

.main-nav .main-nav--index {
  @media (min-width: 1300px) {
    color: #ffffff;
    border-color: #ffffff;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;

  @media (min-width: 768px) {
    border: 0;
  }
}

.main-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: -20px;
  margin-right: -20px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding-bottom: 7px;
    padding-top: 0;
    margin-left: 18px;
    margin-right: 17px;
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: 1300px) {
    margin-left: 17px;
    font-size: 20px;
  }
}

.main-nav__item--active .main-nav__link {
  @media (min-width: 768px) {
    border-bottom: 2px solid #68b738;
  }
}

.main-nav--index .main-nav__link {
  @media (min-width: 1300px) {
    color: #ffffff;
    border-color: #ffffff;
  }
}

.main-header__logo-image {
  @media (min-width: 768px) {
    width: 174px;
    height: 59px;
    margin-bottom: 0;
    margin-top: 24px;
  }
}

.main-nav--closed {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.main-nav--opened {
  display: block;
}
