.main-catalog {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 26px;
    border: 0;
  }

  @media (min-width: 1300px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 90px;
  }

  @media (min-width: 1300px) {
    max-width: 1400px;
  }
}

.main-catalog__item:first-child {
  border-top: 1px solid #ededed;
}

.main-catalog__title {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #111111;
  text-transform: uppercase;
}

.main-catalog__subscription {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.main-catalog__show-button {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.main-catalog__foot {
  min-height: 210px;
  padding-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    //width: 324px;
    padding: 84px 76px 36px;
    margin-bottom: 140px;
    border: 1px solid #cdcdcd;
    background-color: transparent;
  }

  @media (min-width: 1300px) {
    padding: 84px 36px 36px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.main-catalog__foot-title {
  font-family: "Oswald", sans-serif;
  padding: 50px 0 0;
  margin: 0 0 7px;
  font-size: 16px;
  line-height: 20px;
  color: $main-text;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 768px) {
    width: 140px;
    margin: 0 auto 26px;
    font-size: 20px;
    line-height: 20px;
    padding: 80px 0 0;
  }
}

.main-catalog__foot-subscription {
  margin: 0 0 20px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;

  @media (min-width: 768px) {
    width: 170px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.main-catalog__foot-button {
  font-size: 16px;
  color: #444444;

  @media (min-width: 768px) {
    margin-top: 65px;
  }
}

.main-catalog__foot-title--plus {
  background-image: url("../../icons/stack.svg#plus");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center 0;

  @media (min-width: 768px) {
    background-size: 50px 50px;
  }
}

.main-catalog__title--plus {
  background-image: url("../../icons/stack.svg#plus");
  background-size: 60px 60px;
  background-repeat: no-repeat;
}
