.program {
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.program__description {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.program__button {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 26px;
  align-content: center;
  color: $basic-bg-text;
}
