.promotions {
  padding: 29px 20px 35px;

  @media (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    overflow-x: hidden;
  }
}

.promotions__wrapper {
  position: relative;

  @media (min-width: 1300px) {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    max-width: 1400px;
  }
}

.promotions__wrapper::before {
  content: "";
  z-index: -1;
  width: 90%;
  height: 3px;
  position: absolute;
  top: 15px;
  right: 0;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 110%;
    top: 20px;
    right: 0;
  }

  @media (min-width: 1300px) {
    width: 180%;
    right: -40%;
  }
}

.promotions__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #111111;
  display: inline-block;
  vertical-align: baseline;
  font-size: 24px;
  line-height: 24px;
  width: auto;
  padding-right: 23px;
  margin-top: 0;
  margin-bottom: 33px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin-bottom: 79px;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }
}

.promotions__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: $main-text;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 32px;
    width: 540px;
    margin: 0 auto;
  }
}
