.social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  min-height: 62px;
  list-style: none;

  @media (min-width: 768px) {
    min-height: px;
  }
}

.social__item {
  margin-right: 38px;

  @media (min-width: 768px) {
    margin-right: 20px;
  }
}

.social__link {
  display: block;
  padding: 12px;

  @media (min-width: 768px) {
    padding: 16px;
  }
}

.social__link--icon-vk {
  background-image: url("../../icons/stack.svg#vkontakte");
  background-size: 27px 17px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-size: 31px 100%;
  }
}

.social__link--icon-youtube {
  background-image: url("../../icons/stack.svg#youtube");
  background-size: 25px 19px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-size: 31px 100%;
  }
}

.social__link--icon-telegram {
  background-image: url("../../icons/stack.svg#telegram");
  background-size: 20px 18px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-size: 31px 100%;
  }
}
