.social__link {
  padding: 30px;
}

.social__link--icon-vk {
  background-image: url("../../icons/stack.svg#vkontakte");
  background-size: 28px 22px;
  background-repeat: no-repeat;
}

.social__link--icon-telegram {
  background-image: url("../../icons/stack.svg#telegram");
  background-size: 28px 22px;
  background-repeat: no-repeat;
}

.social__link--icon-youtube {
  background-image: url("../../icons/stack.svg#youtube");
  background-size: 28px 22px;
  background-repeat: no-repeat;
}
