.work__title {
  text-align: center;
}

.work__item {
  font-size: 16px;
  line-height: 24px;
}

.work__item--icon-leaf {
  padding: 50px;
  background-image: url("../../icons/stack.svg#group1");
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.work__item--icon-water {
  padding: 50px;
  background-image: url("../../icons/stack.svg#group2");
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.work__item--icon-eat {
  padding: 50px;
  background-image: url("../../icons/stack.svg#group3");
  background-size: 80px 80px;
  background-repeat: no-repeat;
}

.work__item--icon-clock {
  padding: 50px;
  background-image: url("../../icons/stack.svg#group4");
  background-size: 80px 80px;
  background-repeat: no-repeat;
}
